<ion-header>
  <ion-toolbar color="dark">
    <ion-button routerLink="/tab">
      <ion-icon name="arrow-undo-outline"></ion-icon>
    </ion-button>
    <ion-title>Ad Astra</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="banner">
    <div class="info-banner">
      <h2>Ad Astra - Rumo às Estrelas</h2>
      <p>2019 &nbsp;&nbsp; 13</p>
      <ion-button color="danger" size="small">ASSISTIR</ion-button>
    </div>
  </div>

  <ion-card color="primary">

    <ion-item color="medium">
      <div class="info ion-text-center">
        <span class="tipo">MZ</span> <span class="duracao">44m</span>
        <p>Drama, Ficção científica</p>
      </div>
    </ion-item>

    <ion-item color="dark">
      <div>
        <h2>Sinopse</h2>
        <p>Roy McBride é um engenheiro espacial, portador de um leve grau de autismo, que decide empreender a maior jornada de sua vida: viajar para o espaço, cruzar a galáxia e tentar descobrir o que aconteceu com seu pai, um astronauta que se perdeu há vinte anos atrás no caminho para Netuno.</p>
      </div>

    </ion-item>
  </ion-card>
</ion-content>
