<ion-header>
  <ion-toolbar color="dark">
    <ion-button routerLink="/tab">
      <ion-icon name="arrow-undo-outline"></ion-icon>
    </ion-button>
    <ion-title>Rick and Morty</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="banner">
    <div class="info-banner">
      <h2>Rick and Morty</h2>
      <p>2013 &nbsp;&nbsp; 16 &nbsp;&nbsp; 4 Temporadas</p>
      <ion-button color="danger" size="small">ASSISTIR</ion-button>
    </div>
  </div>

  <ion-card color="primary">

    <ion-item color="medium">
      <div class="info ion-text-center">
        <span class="tipo">TV-MA</span> <span class="duracao">22m</span>
        <p>Animação, Comédia, Sci-Fi & Fantasy, Action & Adventure</p>
      </div>
    </ion-item>

    <ion-item color="dark">
      <div>
        <h2>Sinopse</h2>
        <p>Rick é um velho mentalmente desequilibrado, mas cientificamente talentoso que se reconectou recentemente com sua família. Ele passa a maior parte do tempo envolvendo o jovem neto Morty em aventuras perigosas e estranhas no espaço e em universos alternativos. Compostos à vida familiar já instável de Morty, esses eventos causam muito sofrimento a Morty em casa e na escola.</p>
      </div>

    </ion-item>
  </ion-card>
</ion-content>