<ion-header>
  <ion-toolbar color="dark">
    <ion-button routerLink="/tab">
      <ion-icon name="arrow-undo-outline"></ion-icon>
    </ion-button>
    <ion-title>Os Simpsons</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="banner">
    <div class="info-banner">
      <h2>Os Simpsons</h2>
      <p>1989 &nbsp;&nbsp; 14 &nbsp;&nbsp; 31 Temporadas</p>
      <ion-button color="danger" size="small">ASSISTIR</ion-button>
    </div>
  </div>

  <ion-card color="primary">

    <ion-item color="medium">
      <div class="info ion-text-center">
        <span class="tipo">TV-PG</span> <span class="duracao">22m</span>
        <p>Animação, Comédia</p>
      </div>
    </ion-item>

    <ion-item color="dark">
      <div>
        <h2>Sinopse</h2>
        <p>A família Simpsons mora na cidade de Springfield, uma cidade americana como qualquer outra. Homer trabalha como inspetor de segurança numa usina de energia nuclear. Marge tenta manter a paz em sua família. Bart é um travesso garoto de 10 anos. Lisa, 8, é a inteligente da família, que adora tocar saxofone e é vegetariana. E a pequena Maggie conquista todos enquanto não larga sua chupeta. E a série tem um rico, e muitas vezes estranho, universo de personagens que também habitam Springfield. Com roteiros inteligentes, humor subversivo e divertidamente genial, a série faz piadas de si mesma e de todo mundo que aparecer em seu caminho.</p>
      </div>

    </ion-item>
  </ion-card>
</ion-content>