<ion-header>
  <ion-toolbar color="dark">
    <ion-button routerLink="/tab">
      <ion-icon name="arrow-undo-outline"></ion-icon>
    </ion-button>
    <ion-title>Game of Thrones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="banner">
    <div class="info-banner">
      <h2>Game of Thrones</h2>
      <p>2011 &nbsp;&nbsp; 18 &nbsp;&nbsp; 8 Temporadas</p>
      <ion-button color="danger" size="small">ASSISTIR</ion-button>
    </div>
  </div>

  <ion-card color="primary">

    <ion-item color="medium">
      <div class="info ion-text-center">
        <span class="tipo">TV-MA</span> <span class="duracao">1h</span>
        <p>Drama, Sci-Fi & Fantasy</p>
      </div>
    </ion-item>

    <ion-item color="dark">
      <div>
        <h2>Sinopse</h2>
        <p>Em uma terra onde os verões podem durar vários anos e o inverno toda uma vida, sete nobres famílias lutam pelo controle da mítica terra de Westeros, dividida depois de uma guerra. Num cenário que lembra a Europa medieval, reis, rainhas, cavaleiros e renegados usam todos os meios possíveis em um jogo político pela disputa do Trono de Ferro, o símbolo do poder absoluto.</p>
      </div>

    </ion-item>
  </ion-card>
</ion-content>