<ion-header>
  <ion-toolbar color="dark">
    <ion-button routerLink="/tab">
      <ion-icon name="arrow-undo-outline"></ion-icon>
    </ion-button>
    <ion-title>Resgate</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="banner">
    <div class="info-banner">
      <h2>Resgate</h2>
      <p>2019 &nbsp;&nbsp; 16</p>
      <ion-button color="danger" size="small">ASSISTIR</ion-button>
    </div>
  </div>

  <ion-card color="primary">

    <ion-item color="medium">
      <div class="info ion-text-center">
        <span class="tipo">MZ</span> <span class="duracao">44m</span>
        <p>Drama, Ação</p>
      </div>
    </ion-item>

    <ion-item color="dark">
      <div>
        <h2>Sinopse</h2>
        <p>Em Resgate, Tyler Rake (Chris Hemsworth) um agente especial recebe a difícil missão de libertar um garoto indiano que é mantido refém na cidade de Dhaka. Apesar de estar preparado fisicamente, ele precisa lidar com crises de identidade e com seu emocional fragilizado por problemas do passado para que consiga designar sua tarefa da melhor maneira possível.</p>
      </div>

    </ion-item>
  </ion-card>
</ion-content>